<ion-view view-title="Account">
  <ion-content>
    <ion-list>
     <!--    <div>
        <button ng-click="getSpotifyAuthTest()">Get Token</button>
        <span>{{spotifyAuthToken}}</span>
      </div> -->
      <div>
        <button ng-click="getSpotifyPlaylists()">Get playlists</button>
<!--         <span>{{spotifyPlaylists}}</span>
 -->      </div>  

      <!--<ion-item ng-repeat="list in spotifyPlaylists">-->
        <!--{{list.name}}-->
      <!--</ion-item>-->
      <!--ui-sref="tab.playlist({listid: list.id, userid: list.owner.id, listname: list.name})"-->
      <ion-item ng-repeat="list in spotifyPlaylists"  ng-click="goToPlaylist(list.id, list.owner.id, list.name)" >
        {{list.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
